.Back-of-description-window {

    position: absolute;
    top: 88px;
    min-height: 800px;
    height: auto;
    width: 1440px;
    z-index: 101;
}

.Description-window {
    position: absolute;
    display: flex;
    width: 1440px;
    min-height: 800px;
    height: auto;

    left: 0;
    top: 80px;

    background: #FFFFFF;
}

.Descr-back-place {
    position: absolute;
    width: 90px;
    height: 50px;

    right: 10px;
    top: -30px;
    z-index: 103;
}

.Description-pic {
    left: 100px;
    height: 80px;
    width: 80px;
    margin-top: 30px;

}

.Pic-block-row {
    position: absolute;
    left: 97px;
    top: 73px;
    min-height: 100px;
    display: flex;
    flex-direction: column;


}

.Pic-size-description {
    width: auto;
    height: auto;
    max-height: 80px;
    max-width: 80px;

}

.Main-pic {
    position: absolute;
    top: 63px;
    left: 220px;
    width: 610px;
    height: 510px;
    align-items: center;
}

.Main-pic-size {
    width: auto;
    height: auto;
    max-height: 510px;
    max-width: 610px;
}

.Out-of-stock-active-descr {
    position: absolute;
    display: flex;
    padding: 0;

    width: 610px;
    height: 510px;

    left: 220px;
    top: 63px;

    text-align: center;
    background-color: rgba(255, 255, 255, 0.50);
    opacity: 1;
    margin: 0;

    align-items: center;
    z-index: 101;
}

.Out-of-stock-text-descr {
    width: 610px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 160%;
}

.Description-block {
    position: absolute;

    width: 310px;
    min-height: 510px;
    height: auto;
    left: 920px;
    align-items: center;

    display: flex;
    flex-direction: column;

}

.Description-item-name {
    position: relative;
    width: 292px;
    height: 27px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 27px;

    color: #1D1F22;
    margin-bottom: 10px;
}


.bold {
    font-weight: 600;
}

.Attributes-container {
    position: relative;
    width: 310px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px


}

.Each-attribute-container {
    margin: 0;
}

.Attributes {

    width: 310px;
    height: 18px;


    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;


    display: flex;
    align-items: center;
    text-align: center;

    color: #1D1F22;
}

.Attribute-items {
    height: 50px;
    min-width: 310px;
    width: auto;

    display: flex;
    flex-direction: row;

}

.Attribute-item-button-descr {
    position: relative;

    margin: 5px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;

    height: 30px;
    width: 50px;
    border: 1px solid #1D1F22;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    transition: filter 0.2s;
    background-color: #FFFFFF;
}

.Attribute-item-button-active {
    background-color: #1D1F22;
    color: #FFFFFF;
}

.Attribute-item-button-color-active {
    border: 3px solid #1D1F22;
}

.Attribute-item-button-descr:hover {
    filter: drop-shadow(0px 4px 5px rgba(168, 172, 176, 1));

}

.Attribute-item-button-text {
    position: relative;
    height: 45px;
    font-size: 16px;
    top: 3px
}

.Price-text {
    position: relative;
    width: 310px;
    height: 18px;
    left: 10px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D1F22;
    margin-top: 20px

}

.Description-cost {
    position: relative;
    width: 310px;
    height: 18px;
    left: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #1D1F22;
    margin-top: 20px
}

.Description-text-container {
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: #ffffff;
    width: 325px;
    min-height: 30px;
    height: auto;
    left: 7px;
    margin-top: 20px;


}


.Description-text {
    position: relative;
    height: 100%;
    width: 310px;
    font-family: Raleway;
    font-style: normal;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    margin-bottom: 20px;

}

.Add-to-cart-button-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 325px;
    height: 52px;
    left: 5px;
    margin-top: 20px;
    transition: all 0.2s;

}


.Button-active {
    background: #5ECE7B;
}

.Button-active:hover {
    filter: drop-shadow(0px 5px 5px rgba(168, 172, 176, 1));
}

.Button-not-active {
    background: #A6A6A6;
}

.Add-to-cart-button {
    position: absolute;
    width: 120px;
    height: 20px;
    left: calc(50% - 120px/2);
    top: calc(50% - 20px/2);

    align-items: center;
    text-align: center;

    display: flex;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 0;
}

.Color-Green {
    background-color: #44FF03;
}

.Color-Cyan {
    background-color: #03FFF7;
}

.Color-Blue {
    background-color: #030BFF;
}

.Color-Black {
    background-color: #000000;
}

.Color-White {
    background-color: #FFFFFF;
}

