/*body {*/
/*    -webkit-touch-callout: none;*/
/*    -webkit-user-select: none;*/
/*    -khtml-user-select: none;*/
/*    -moz-user-select: none;*/
/*    -ms-user-select: none;*/
/*    user-select: none;*/
/*}*/

.Base {
    background-size: cover;

    min-height: 90%;
    width: 1895px;
    height: auto;
    position: static;
    display: flex;
    align-items: center;
}

.Remove-scroll {
    position: fixed;
}

.App {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 1440px;

    min-height: 900px;
    height: auto;

    margin: auto;
    background: #FFFFFF;
}

.Fst-query {


    position: absolute;
    height: 29px;
    left: 0;
    right: 0;
    top: 200px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;

    display: flex;
    align-items: center;


    color: #1D1F22;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 0;

    z-index: 101;
}


.Title {
    position: relative;
    width: 299px;
    height: 68px;
    left: calc(50% - 299px/2 - 469.5px);


    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 160%;

    display: flex;
    align-items: center;
    margin-top: 70px;


    color: #1D1F22;
}




.Green-icon-img {
    width: 56px;
    height: 56px;
}






